@namespace LilyBlazorHeadless.Components

@*
    AlbaCommunityHealthIndexView component
    a read-only display of Scotland's Community Health Index (CHI)
*@

<span class="@($"alba-community-health-index-view {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</span>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
