@namespace LilyBlazorHeadless.Components

@*
    BelgiqueNumeroDeRegistreNationalView component
    a read-only display of Belgium's Numéro de Registre National / Rijksregisternummer (NRN)
*@

<span class="@($"belgique-numero-de-registre-national-view {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</span>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
