@namespace LilyBlazorHeadless.Components

@*
    Byline component
    an author attribution with publish and update timestamps
*@

<div class="@($"byline {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
