@namespace LilyBlazorHeadless.Components

@*
    ColorPicker component
    a two-dimensional board for picking colors by hue and saturation
*@

<div class="@($"color-picker {CssClass}".Trim())" role="slider" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
