@namespace LilyBlazorHeadless.Components

@*
    ContainerWithFluidWidth component
    a full-width content wrapper with horizontal padding
*@

<div class="@($"container-with-fluid-width {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
