@namespace LilyBlazorHeadless.Components

@*
    Container component
    A generic block-level content container.
*@

<div class="@($"container {CssClass}".Trim())" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
