@namespace LilyBlazorHeadless.Components

@*
    DataTable component
    a data table interactive grid for displaying and sorting tabular data <table>
*@

<table class="@($"data-table {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</table>

@code {
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
