@namespace LilyBlazorHeadless.Components

@*
    DropdownMenu component
    a menu that opens below a trigger button
*@

<div class="@($"dropdown-menu {CssClass}".Trim())" role="menuitem" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
