@namespace LilyBlazorHeadless.Components

@*
    EndNotes component
    a section of titled endnote items at the end of an article
*@

<section class="@($"end-notes {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</section>

@code {
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
