@namespace LilyBlazorHeadless.Components

@*
    EspanaTarjetaSanitariaIndividualView component
    a read-only display of an España Tarjeta Sanitaria Individual (TSI) unique national healthcare identifier
*@

<span class="@($"espana-tarjeta-sanitaria-individual-view {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</span>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
