@namespace LilyBlazorHeadless.Components

@*
    FiveStarRatingPickerButton component
    a picker button for selecting a 1-5 star rating using radio buttons
*@

<button class="@($"five-star-rating-picker-button {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</button>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
