@namespace LilyBlazorHeadless.Components

@*
    FiveFaceRatingPicker component
    a picker for selecting a 1-5 satisfaction rating using face labels
*@

<div class="@($"five-face-rating-picker {CssClass}".Trim())" role="radiogroup" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
