@namespace LilyBlazorHeadless.Components

@*
    Hero component
    a large box or image with a title and description
*@

<section class="@($"hero {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</section>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
