@namespace LilyBlazorHeadless.Components

@*
    IconButton component
    a button containing only an icon with a required accessible label
*@

<button class="@($"icon-button {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</button>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
