@namespace LilyBlazorHeadless.Components

@*
    LietuvaAsmensKodasView component
    a read-only display of Lithuania's Asmens kodas
*@

<span class="@($"lietuva-asmens-kodas-view {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</span>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
