@namespace LilyBlazorHeadless.Components

@*
    MedicalBannerBoxForAdvice component
    a medical record banner box for advice information e.g. contacts, contexts, plans, etc.
*@

<div class="@($"medical-banner-box-for-advice {CssClass}".Trim())" role="region" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
