@namespace LilyBlazorHeadless.Components

@*
    MedicalBannerBoxForDanger component
    a medical record banner box for danger information e.g. reactions, warnings, alarms, etc.
*@

<div class="@($"medical-banner-box-for-danger {CssClass}".Trim())" role="region" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
