@namespace LilyBlazorHeadless.Components

@*
    MockupPhoneLandscape component
    A box area that looks like a mobile phone in landscape orientation.
*@

<div class="@($"mockup-phone-landscape {CssClass}".Trim())" role="img" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
