@namespace LilyBlazorHeadless.Components

@*
    PasswordInputOrTextInputDiv component
    an input for entering a password <input type="password"> or text <input type="text"> with show/hide toggle
*@

<div class="@($"password-input-or-text-input-div {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
