@namespace LilyBlazorHeadless.Components

@*
    RedOrangeYellowGreenBlueView component
    a read-only display of a five-level color status
*@

<div class="@($"red-orange-yellow-green-blue-view {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
