@namespace LilyBlazorHeadless.Components

@*
    RedOrangeYellowGreenBluePickerButton component
    a picker button for selecting a five-level color status
*@

<button class="@($"red-orange-yellow-green-blue-picker-button {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</button>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
