@namespace LilyBlazorHeadless.Components

@*
    ScrollBar component
    a custom scrollbar element
*@

<div class="@($"scroll-bar {CssClass}".Trim())" role="scrollbar" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
