@namespace LilyBlazorHeadless.Components

@*
    SplitButton component
    a button with a primary action and a dropdown for related actions
*@

<div class="@($"split-button {CssClass}".Trim())" role="group" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
