@namespace LilyBlazorHeadless.Components

@*
    Table component
    a table with rows and columns <table>
*@

<table class="@($"table {CssClass}".Trim())" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</table>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
