@namespace LilyBlazorHeadless.Components

@*
    TabPanel component
    a content panel associated with a tab in a tab bar
*@

<div class="@($"tab-panel {CssClass}".Trim())" role="tabpanel" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
