@namespace LilyBlazorHeadless.Components

@*
    TaskBar component
    a horizontal bar of task shortcuts or actions
*@

<div class="@($"task-bar {CssClass}".Trim())" role="toolbar" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
