@namespace LilyBlazorHeadless.Components

@*
    TextInputWithSearch component
    a single-line text input field <input type="text"> with search capability
*@

<div class="@($"text-input-with-search {CssClass}".Trim())" role="search" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
