@namespace LilyBlazorHeadless.Components

@*
    Tooltip component
    a small popup showing descriptive text on hover or focus
*@

<div class="@($"tooltip {CssClass}".Trim())" role="tooltip" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
