@namespace LilyBlazorHeadless.Components

@*
    TreeListItem component
    one item in a tree navigation list
*@

<li class="@($"tree-list-item {CssClass}".Trim())" role="treeitem" aria-label="@Label" @attributes="AdditionalAttributes">@ChildContent</li>

@code {
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
