---
layout: layouts/component-demo.njk
title: BackToTop
description: a link that returns users to the top of a long page
---

{% from "components/back-to-top/macro.njk" import LBackToTop %}

<h2>Default</h2>
{{ LBackToTop({ text: "Example BackToTop content" }) }}

<h2>With accessible label</h2>
{{ LBackToTop({ text: "Example content", label: "BackToTop example" }) }}
