---
layout: layouts/component-demo.njk
title: Vital Sign — LDL Cholesterol View
description: number display of cholesterol LDL (bad cholesterol) in millimoles per litre
---

{% from "components/vital-sign-cholesterol-as-ldl-mmol-per-litre-view/macro.njk" import vitalSignCholesterolAsLdlMmolPerLitreView %}

<h2>Healthy range</h2>
<p>{{ vitalSignCholesterolAsLdlMmolPerLitreView({
  value: "2.8",
  label: "LDL"
}) }}</p>

<h2>Elevated</h2>
<p>{{ vitalSignCholesterolAsLdlMmolPerLitreView({
  value: "4.5",
  label: "LDL (elevated)",
  classes: "elevated"
}) }}</p>
