---
layout: layouts/component-demo.njk
title: AreaChart
description: an area chart visualization showing sized components in continuous data
---

{% from "components/area-chart/macro.njk" import areaChart %}

<h2>Consumer-supplied svg with a data table alternative</h2>
{% set dataTable %}<table>
  <caption>Area chart data</caption>
  <thead><tr><th scope="col">Name</th><th scope="col">Value</th></tr></thead>
  <tbody><tr><th scope="row">Example</th><td>42</td></tr></tbody>
</table>{% endset %}
{% call areaChart({ label: "Area chart example", dataTable: dataTable }) %}
  <svg viewBox="0 0 100 50" width="200" height="100" aria-hidden="true" focusable="false"><circle cx="50" cy="25" r="20"></circle></svg>
{% endcall %}
