---
layout: layouts/component-demo.njk
title: Data Table Head
description: a data table interactive grid head <thead>
---

<p>A <code>dataTableHead</code> is one part of a
  <a href="/components/data-table/"><code>dataTable</code></a>.
  It maps to the native HTML <code>&lt;thead&gt;</code>
  element. See the <a href="/components/data-table/">Data Table
  demo</a> for composed examples.</p>

{# BEGIN generated: examples (bin/generate-examples) #}
<h2>Usage</h2>
<pre tabindex="0"><code>{% raw %}&lt;DataTable caption="User accounts"&gt;
  &lt;DataTableHead&gt;
    &lt;tr&gt;&lt;th scope="col"&gt;Name&lt;/th&gt;&lt;th scope="col"&gt;Email&lt;/th&gt;&lt;th scope="col"&gt;Role&lt;/th&gt;&lt;/tr&gt;
  &lt;/DataTableHead&gt;
  &lt;DataTableBody&gt;...&lt;/DataTableBody&gt;
&lt;/DataTable&gt;
{% endraw %}</code></pre>
{# END generated: examples #}
