---
layout: layouts/component-demo.njk
title: Grail Layout Bottom Footer
description: full-width bottom-footer region of a grail layout
---

<p>The bottom footer is a <code>&lt;footer&gt;</code> element
  occupying the full-width bottom row of a
  <a href="/components/grail-layout/"><code>GrailLayout</code></a>.
  See the <a href="/components/grail-layout/">composed demo</a>.</p>

{# BEGIN generated: examples (bin/generate-examples) #}
<h2>Usage</h2>
<pre tabindex="0"><code>{% raw %}&lt;GrailLayout&gt;
  &lt;GrailLayoutTopHeader&gt;...&lt;/GrailLayoutTopHeader&gt;
  &lt;GrailLayoutLeftAside&gt;...&lt;/GrailLayoutLeftAside&gt;
  &lt;GrailLayoutCenterMain&gt;...&lt;/GrailLayoutCenterMain&gt;
  &lt;GrailLayoutRightAside&gt;...&lt;/GrailLayoutRightAside&gt;
  &lt;GrailLayoutBottomFooter&gt;
    &lt;Footer /&gt;
  &lt;/GrailLayoutBottomFooter&gt;
&lt;/GrailLayout&gt;
{% endraw %}</code></pre>
{# END generated: examples #}
