---
layout: layouts/component-demo.njk
title: Grail Layout Right Aside
description: right sidebar region of a grail layout
---

<p>The right aside is an <code>&lt;aside&gt;</code> element on the
  right of a
  <a href="/components/grail-layout/"><code>GrailLayout</code></a>,
  typically holding related content or a table of contents. Set
  <code>params.label</code> so assistive tech can distinguish it
  from the left aside. See the
  <a href="/components/grail-layout/">composed demo</a>.</p>

{# BEGIN generated: examples (bin/generate-examples) #}
<h2>Usage</h2>
<pre tabindex="0"><code>{% raw %}&lt;GrailLayout&gt;
  &lt;GrailLayoutTopHeader&gt;...&lt;/GrailLayoutTopHeader&gt;
  &lt;GrailLayoutLeftAside&gt;...&lt;/GrailLayoutLeftAside&gt;
  &lt;GrailLayoutCenterMain&gt;...&lt;/GrailLayoutCenterMain&gt;
  &lt;GrailLayoutRightAside&gt;
    &lt;h2&gt;Quick links&lt;/h2&gt;
    &lt;ul&gt;
      &lt;li&gt;&lt;a href="/help"&gt;Help&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="/settings"&gt;Settings&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/GrailLayoutRightAside&gt;
  &lt;GrailLayoutBottomFooter&gt;...&lt;/GrailLayoutBottomFooter&gt;
&lt;/GrailLayout&gt;
{% endraw %}</code></pre>
{# END generated: examples #}
