---
layout: layouts/component-demo.njk
title: Organization
description: an organization component
---

{% from "components/organization/macro.njk" import organization %}

{{ organization({
  name: "NHS England",
  description: "Oversees the budget, planning, delivery and day-to-day operation of the commissioning side of the NHS."
}) }}

{# BEGIN generated: examples (bin/generate-examples) #}
<h2>Usage</h2>
<pre tabindex="0"><code>{% raw %}&lt;Organization label="St James's Hospital, Cardiology Department"&gt;
  &lt;Image src="/logos/stjames.png" label="St James's Hospital logo" /&gt;
  &lt;h3&gt;St James's Hospital&lt;/h3&gt;
  &lt;p&gt;Cardiology Department&lt;/p&gt;
  &lt;address&gt;Beckett Way, Leeds LS9 7TF&lt;/address&gt;
  &lt;TelLink href="tel:+441234567890"&gt;0123 456 7890&lt;/TelLink&gt;
  &lt;EmailLink href="mailto:info@stjames.nhs.uk"&gt;info@stjames.nhs.uk&lt;/EmailLink&gt;
&lt;/Organization&gt;
{% endraw %}</code></pre>
{# END generated: examples #}
