---
layout: layouts/component-demo.njk
title: Tree Menu
description: a hierarchical tree menu with expandable branches
---

{% from "components/tree-menu/macro.njk" import treeMenu %}
{% from "components/tree-list-item/macro.njk" import treeListItem %}
{% from "components/tree-list/macro.njk" import treeList %}

<h2>File browser</h2>
{% call treeMenu({ label: "Files" }) %}
  {% call treeListItem({ expanded: true }) %}
    Records
    {% call treeList({ nested: true }) %}
      {% call treeListItem() %}2026-01-12 visit notes{% endcall %}
      {% call treeListItem({ selected: true }) %}2026-04-18 visit notes{% endcall %}
    {% endcall %}
  {% endcall %}
  {% call treeListItem({ expanded: false }) %}Prescriptions{% endcall %}
{% endcall %}

{# BEGIN generated: examples (bin/generate-examples) #}
<h2>Usage</h2>
<pre tabindex="0"><code>{% raw %}&lt;TreeMenu label="File actions"&gt;
  &lt;li role="treeitem" tabindex="0" aria-expanded="true"&gt;
    File
    &lt;ul role="group"&gt;
      &lt;li role="treeitem" tabindex="-1"&gt;New&lt;/li&gt;
      &lt;li role="treeitem" tabindex="-1"&gt;Open&lt;/li&gt;
      &lt;li role="treeitem" tabindex="-1"&gt;Save&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
  &lt;li role="treeitem" tabindex="-1" aria-expanded="false"&gt;
    Edit
  &lt;/li&gt;
  &lt;li role="treeitem" tabindex="-1"&gt;Help&lt;/li&gt;
&lt;/TreeMenu&gt;
{% endraw %}</code></pre>
{# END generated: examples #}
