---
layout: layouts/component-demo.njk
title: UkrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView
description: a read-only display of Ukraine's Taxpayer Registration Card Number (RNOKPP)
---

{% from "components/ukrayina-reyestratsiyniy-nomer-oblikovoyi-kartky-platnyka-podatkiv-view/macro.njk" import ukrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView %}

<h2>Default</h2>
<p>{{ ukrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView({ text: "UkrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView example", label: "UkrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView example" }) }}</p>

{# BEGIN generated: examples (bin/generate-examples) #}
<h2>Usage</h2>
<pre tabindex="0"><code>{% raw %}&lt;SummaryList&gt;
  &lt;SummaryListItem term="Реєстраційний номер облікової картки платника податків (РНОКПП)"&gt;
    &lt;UkrayinaReyestratsiyniyNomerOblikovoyiKartkyPlatnykaPodatkivView label="Реєстраційний номер облікової картки платника податків (РНОКПП)" value={value} /&gt;
  &lt;/SummaryListItem&gt;
&lt;/SummaryList&gt;
{% endraw %}</code></pre>
{# END generated: examples #}
